*.o
*.so
ui_*.h
qrc_*.cpp
moc_*.h
moc_*.cpp
*.moc
*.prl
*.a
Makefile
*.cache
src/shotcut
*.user
*.qm
*.dot
*.frag
*.log
.directory
*.orig
src/qml/export-edl/node_modules
*.qmlc
*.jsc
.project
/.qmake.stash
packaging/linux/org.shotcut.Shotcut.metainfo.xml
build/
*.Debug
*.Release
*.exe
packaging/windows/shotcut.rc
