*.o
*.so
ui_*.h
qrc_*.cpp
moc_*.h
moc_*.cpp
*.moc
*.prl
*.a
Makefile
*.cache
src/shotcut
*.user
*.qm
*.dot
*.frag
*.log
.directory
*.orig
src/qml/export-edl/node_modules
*.qmlc
*.jsc
.project
/.qmake.stash
packaging/linux/org.shotcut.Shotcut.metainfo.xml
build/
*.Debug
*.Release
*.exe
packaging/windows/shotcut.rc
*cmake_install.cmake
.ninja_*
build.ninja
rules.ninja
CMakeCache.txt
*CMakeFiles/
CuteLogger/CuteLogger_autogen/
install_manifest.txt
share/
src/shotcut_autogen/
.qt
translations/.lupdate
.DS_Store
scripts/build-shotcut.conf
*~
