*.o
*.so
ui_*.h
qrc_*.cpp
moc_*.h
moc_*.cpp
*.moc
*.prl
*.a
Makefile
*.cache
src/snapflow
*.user
*.qm
*.dot
*.frag
*.log
.directory
*.orig
src/qml/export-edl/node_modules
*.qmlc
*.jsc
.project
/.qmake.stash
packaging/linux/org.snapflow.Snapflow.metainfo.xml
build/
install/
*.Debug
*.Release
*.exe
packaging/windows/snapflow.rc
*cmake_install.cmake
.ninja_*
build.ninja
rules.ninja
CMakeCache.txt
*CMakeFiles/
CuteLogger/CuteLogger_autogen/
install_manifest.txt
share/
src/snapflow_autogen/
.qt
translations/.lupdate
.DS_Store
scripts/build-snapflow.conf
*~
.vscode
MinimalMediaBackend/
CuteLogger/libCuteLogger.dll
docs/qml-api/
snapflow.code-workspace
